body{
    margin: 5px;
    background-color: rgb(40, 40, 40);
    text-align: center;
}

header{
    text-align: center;
    color: white;
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
}

main{
    margin: 10px;
    padding: 10px;
    color: white;
}

.box{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    border: 1px double white;
}

.box h4{
    color: white;
}
